%{
  "${LOADABLE_ASSET_LINUX_X86_64_NAME}" => "sha256:${LOADABLE_ASSET_LINUX_X86_64_SHA256}",
  "${LOADABLE_ASSET_MACOS_X86_64_NAME}" => "sha256:${LOADABLE_ASSET_MACOS_X86_64_SHA256}",
  "${LOADABLE_ASSET_MACOS_AARCH64_NAME}" => "sha256:${LOADABLE_ASSET_MACOS_AARCH64_SHA256}",
}
