.vscode
/build
/build_release
News_Category_Dataset_v3.json
*.faissindex
*.db
*.so
*.dylib
*.dll
*.xml
*.zip
*.index
vendor/sqlite/
vendor/sqlite-snapshot*
vendor_old

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing

cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

venv/
dist/

deps/
_build/
*.parquet

.cache